{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<form role="form" method="POST" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    <div class="card card-table p-4 m-4">
        <div class="row">
            <div class="form-group ml-2 col">
                <label for="">Upload File </label>
                {{ form.file|as_crispy_field }}
                <button id="next-page-btn" class="btn  btn-primary px-4 btn-large"><span class="px-2">Upload</span><i
                    class="fas fa-arrow-right pr-1"></i></button>
                
            
              </div>
            </div>
            
        </div>
        
        <!-- <div class="row">
        
            <div class="ml-2 p-3 mt-5 d-flex justify-content-end">
                <button id="next-page-btn" class="btn px-4 btn-large"><span class="px-2">Save</span><i
                        class="fas fa-arrow-right pr-1"></i></button>
                {% comment %} <a id="next-page-btn" class="btn px-4 btn-large" href="job-cert-adding-item.html"> <span
                        class="px-2">Next </span>
                    <i class="fas fa-arrow-right pr-1"></i>
                </a> {% endcomment %}
        
            </div>
        
        </div> -->
</form>

{% endblock content %}