{% extends "base.html" %}
{% block content%}

<div class="col-12">
    <div class="card card-primary card-outline ">
        <div class="card-body ">
            <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                    <div class="col-sm-12">
                        <table id="example2" class="table  table-striped table-hover" role="grid"
                            aria-describedby="example2_info">
                            <thead class="">
                                <tr role="row">
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                        aria-label="Browser: activate to sort column ascending">Student</th>

                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                        aria-label="Browser: activate to sort column ascending">Academic Term </th>

                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                        aria-label="Platform(s): activate to sort column ascending">Class</th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                        aria-label="Platform(s): activate to sort column ascending">Subject</th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                        aria-label="Platform(s): activate to sort column ascending">Topic</th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                        aria-label="Platform(s): activate to sort column ascending">Status</th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                        aria-label="CSS grade: activate to sort column ascending">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for r in rep %}
                                </tr>
                                <tr role="row" class="odd">
                                    <td>{{ r.student_id.Surname }}  {{ r.student_id.firstname }}</td>
                                    <td>{{r.term_year_id }}</td>
                                    <td>{{ r.class_id.class_name }}</td>
                                    <td>{{ r.subject.subject_name }}</td>
                                    <td>{{ r.topic }}</td>
                                    {% if r.status == 'pending' %}
                                    <td><span class="badge bg-warning">{{r.status}}</span></td>
                                    {% elif r.status == 'approved' %}
                                    <td><span class="badge bg-primary">{{r.status}}</span></td>
                                    {% else %}
                                    <td><span class="badge bg-danger">{{r.status}}</span></td>
                                    {% endif %}
                                    <td>
                                        <a class="btn btn-sm btn-primary" href="{% url 'school:view_student_daily_report' r.id %}">View</a>
                                    </td>
                                </tr>

                                {% endfor %}

                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.card -->
</div>
{% endblock %}