{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content%}

<div class="col-lg">
    <div class="card card-primary card-outline">
        <div class="card-body">
            <form class="">

                <div class="form-row  ">
                    <div class="form-group col-md-3 col-sm-6">
                        {{ myFilter.form.start_date|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3 col-sm-6">
                        {{ myFilter.form.end_date|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3 col-sm-6">
                        {{ myFilter2.form.start_date|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3 col-sm-6">
                        {{ myFilter2.form.end_date|as_crispy_field }}
                    </div>


                </div>

                <div class="form-row">
                    <div class="form-group col-md-2 col-sm-12">
                        <button class="btn btn-sm btn-primary "> Search </button>
                    </div>
                    <div class="form-group col-md-10 float-right">
                      <b>Accounts Code: 
                        {% for a in acc %}
                               <span class="ml-3">{{a.id }} : {{ a.code}}</span> ,        
                        {% endfor %}
                    </b>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">Income And Expenditure</h3> 
            
        </div>
        <div class="card-body">
            <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                    <table class="table table-striped table-hover" role="grid" aria-describedby="example2_info">
                        <thead>
                            <tr role="row">

                                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                    aria-sort="ascending"
                                    aria-label="Rendering engine: activate to sort column descending"><b>DR</b>
                                </th>
                                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                    aria-sort="ascending"
                                    aria-label="Rendering engine: activate to sort column descending"><b>CR</b>
                                </th>

                        </thead>
                    </table>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <table class="table table-striped table-hover" role="grid" aria-describedby="example2_info">
                            <thead>
                                <tr role="row">

                                    <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1"
                                        colspan="1" aria-sort="ascending"
                                        aria-label="Rendering engine: activate to sort column descending">Date
                                    </th>

                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                        aria-label="Browser: activate to sort column ascending">Account Code</th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                        aria-label="Browser: activate to sort column ascending">Amount</th>
                                </tr>
                            </thead>
                            <tbody>

                                </tr>



                                {% for expenditure in ord %}
                                <tr role="row" class="odd">
                                    <td>{{expenditure.month}}</td>
                                    <td>{{expenditure.account_code}}</td>
                                    <td>{{expenditure.monthly}}</td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-6">

                        <table class="table table-striped table-hover" role="grid" aria-describedby="example2_info">
                            <thead>
                                <tr role="row">
                                    <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1"
                                        colspan="1" aria-sort="ascending"
                                        aria-label="Rendering engine: activate to sort column descending">Date
                                    </th>
                                    <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1"
                                        colspan="1" aria-sort="ascending"
                                        aria-label="Rendering engine: activate to sort column descending">Account code
                                    </th>

                                    <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1"
                                        colspan="1" aria-sort="ascending"
                                        aria-label="Rendering engine: activate to sort column descending">Amount
                                    </th>


                            </thead>
                            <tbody>

                                </tr>


                                {% for revenue in ords %}


                                <tr role="row" class="odd">
                                    <td class="sorting_1">{{revenue.month}}</td>
                                    <td class="sorting_1">{{revenue.account_code}}</td>
                                    <td class="sorting_1">{{revenue.monthly}}</td>

                                </tr>
                                {% endfor %}



                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <table class="table table-striped table-hover" role="grid" aria-describedby="example2_info">
                    <thead>
                        <tr role="row">

                            <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">
                                <b>TOTAL: GH&#8373 {{ total.expense }}</b>
                            </th>
                            <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">
                                <b>TOTAL: GH&#8373 {{ tot.cc }}</b>
                            </th>

                    </thead>
                    <thead>
                        <tr role="row">
                            <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">
                                <b>BALANCE : GH&#8373 {{ bf }}</b>
                            </th>

                            <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending"
                                aria-label="Rendering engine: activate to sort column descending">
                           
                            </th>
                           
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div><!-- /.card -->
</div>
{% endblock %}