{% extends "base.html" %}
{% block content%}

<div class="col-lg">
    <div class="card card-primary card-outline">
        <div class="card-body">
            
            <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                    <div class="col-sm-12">
                        <table id="example10" class="table table-bordered table-striped table-hover" role="grid"
                            aria-describedby="example2_info">
                            <thead class="">
                                <tr role="row">

                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                        aria-label="Browser: activate to sort column ascending">ID</th>

                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                        aria-label="Browser: activate to sort column ascending">Name</th>

                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                        aria-label="Platform(s): activate to sort column ascending">Class</th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                        aria-label="Platform(s): activate to sort column ascending">Academic Year</th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                        aria-label="Platform(s): activate to sort column ascending">Academic Term</th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                        aria-label="Platform(s): activate to sort column ascending">Result</th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                        aria-label="CSS grade: activate to sort column ascending">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for acadamic in academic_term %}
                                </tr>
                                <tr role="row" class="odd">
                                    <td>{{ acadamic.studid }}  </td>
                                    <td>{{ acadamic.Surname }}  {{ acadamic.firstname }}</td>
                                    <td>{{ acadamic.course_id.class_name }}</td>
                                    <td>{{ acadamic.acadamic_year}}</td>
                                    <td>{{ acadamic.acadamic_term}}</td>
                                    <td>{{ acadamic.results}}</td>



                                    <td>
                                       
                                       
                                           
                                            <a class="btn btn-sm btn-primary" href="{% url 'school:view_student_results' acadamic.id %}">View Results</a>
                                            <a class="btn btn-sm btn-danger" href="{% url 'school:print_student_results' acadamic.id %}">Print Results</a>

                                            
                                    </td>
                                </tr>

                                {% endfor %}

                            </tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.card -->
</div>
{% endblock %}